<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head th:insert="/common/common::head">
<meta charset="UTF-8">
<title>user - 게임 전적</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$(function () {
		var api_key = "RGAPI-469f9299-cf01-48c6-9f18-7e4b4798f8c3";
		var runeData =
				$.ajax({
					type: "GET",
					url: "https://ddragon.leagueoflegends.com/cdn/11.24.1/data/en_US/runesReforged.json",
					data: {},
					success: function (data) {
						runeData = data;
					}
				});
		var puuid = $("#puuid").val();
		var matchIdList =
				$.ajax({
					type: "GET",
					url: "https://asia.api.riotgames.com/lol/match/v5/matches/by-puuid/" + puuid + "/ids" + "?api_key=" + api_key + "&count=100",
					success: function (data) {
						matchIdList = data;
					}
				});
		$("#reSearch").click(function () {
			$("#searchBanner").css("display", "block");
			$("#reSearch").css("display", "none");
		});

		$(document).on("click",".anyinfo",function(){
			var matchId = $(this).prev().prev().val();
			var red_header = $(this).next().find(".red-header");
			var blue_header = $(this).next().find(".blue-header");
			var red_location = $(this).next().find(".red-container");
			var blue_location = $(this).next().find(".blue-container");
			var win_red = $(this).next().find(".red-header>div:first-child");
			var win_blue = $(this).next().find(".blue-header>div:first-child");

			$(this).hide();
			$(this).prev().show();
			$(this).parent().css("margin-bottom", "600px");
			$(this).next().css("display", "block");
			$.ajax({
				type: "GET",
				url: "https://asia.api.riotgames.com/lol/match/v5/matches/" + matchId + "?api_key=" + api_key,
				data: {},
				success: function (data) {
					var blue_result = data['info']['participants'][0]['win'];
					var red_result = data['info']['participants'][5]['win'];
					if (blue_result == true) {
						blue_result = " (승리)";
						blue_location.css("background-color", "#d8e4ec");
					} else {
						blue_result = " (패배)";
						blue_location.css("background-color", "#e9e0e0");
					}
					if (red_result == true) {
						red_result = " (승리)";
						red_location.css("background-color", "#d8e4ec");
					} else {
						red_result = " (패배)";
						red_location.css("background-color", "#e9e0e0");
					}
					let red_span = '<span>' + red_result + '</span>';
					let blue_span = '<span>' + blue_result + '</span>';
					win_red.append(red_span);
					win_blue.append(blue_span);
					for (let i = 0; i < 5; i++) {
						blue(data['info']['participants'][i], blue_location);
					}
					// let red = '<div>레드팀</div>';
					// red_location.append(red);
					for (let j = 5; j < 10; j++) {
						red(data['info']['participants'][j], red_location);
					}
				}
			})
		});

		$(document).on("click",".closeinfo",function(){
			$(this).next().show();
			$(this).hide();
			$(this).next().next().find(".red-container *").remove();
			$(this).next().next().find(".red-header span").remove();
			$(this).next().next().find(".blue-container *").remove();
			$(this).next().next().find(".blue-header span").remove();
			$(this).next().next().find(".blue-container *").remove();
			$(this).next().next().css("display", "none");
			$(this).parent().css("margin-bottom", "30px");
		});

		function red(data, location) {
			var total = data['totalMinionsKilled'];
			var neutral = data['neutralMinionsKilled'];
			var minions = parseInt(total) + parseInt(neutral);
			var spell1 = spell(data['summoner1Id']);
			var spell2 = spell(data['summoner2Id']);
			var mainRuneImg = mainRune(data['perks']['styles'][0]['style'], data['perks']['styles'][0]['selections'][0]['perk']);
			var subRuneImg = subRun(data['perks']['styles'][1]['style']);
			var championName = data['championName'];
			let test = '<li class="part">\
			<div class="cell inline-flex infocell">\
				<div class="cell-champion" style="margin-right: 10px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/champion/' + championName + '.png">\
				</div>\
				<div class="cell-spell" style="margin-right: 5px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + spell1 + '">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + spell2 + '">\
				</div>\
				<div class="cell-rune" style="margin-right: 20px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/img/' + mainRuneImg + '">\
					<img src="https://ddragon.leagueoflegends.com/cdn/img/' + subRuneImg + '">\
				</div>\
				<div><a href="/search?name=' + data['summonerName'] + '">' + data['summonerName'] + '</a></div>\
			</div>\
			<div class="cell">' + data['kills'] + ' / ' + data['deaths'] + ' / ' + data['assists'] + '</div>\
			<div class="cell">' + data['totalDamageDealtToChampions'] + '</div>\
			<div class="cell">' + data['visionWardsBoughtInGame'] + '</div>\
			<div class="cell">' + minions + '</div>\
			<div class="cell itemcell">\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item0'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item1'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item2'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item3'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item4'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item5'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item6'] + '.png" onerror="this.style.display=\'none\';"></div>\
				</div></li>'
			location.append(test);
		};

		function blue(data, location) {
			var total = data['totalMinionsKilled'];
			var neutral = data['neutralMinionsKilled'];
			var minions = parseInt(total) + parseInt(neutral);
			var spell1 = spell(data['summoner1Id']);
			var spell2 = spell(data['summoner2Id']);
			var mainRuneImg = mainRune(data['perks']['styles'][0]['style'], data['perks']['styles'][0]['selections'][0]['perk']);
			var subRuneImg = subRun(data['perks']['styles'][1]['style']);
			var championName = data['championName'];
			let test = '<li class="part">\
			<div class="cell inline-flex infocell">\
				<div class="cell-champion" style="margin-right: 10px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/champion/' + championName + '.png">\
				</div>\
				<div class="cell-spell" style="margin-right: 5px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + spell1 + '">\
					<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + spell2 + '">\
				</div>\
				<div class="cell-rune" style="margin-right: 20px;">\
					<img src="https://ddragon.leagueoflegends.com/cdn/img/' + mainRuneImg + '">\
					<img src="https://ddragon.leagueoflegends.com/cdn/img/' + subRuneImg + '">\
				</div>\
				<div><a href="/search?name=' + data['summonerName'] + '">' + data['summonerName'] + '</a></div>\
			</div>\
			<div class="cell">' + data['kills'] + ' / ' + data['deaths'] + ' / ' + data['assists'] + '</div>\
			<div class="cell">' + data['totalDamageDealtToChampions'] + '</div>\
			<div class="cell">' + data['visionWardsBoughtInGame'] + '</div>\
			<div class="cell">' + minions + '</div>\
			<div class="cell itemcell">\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item0'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item1'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item2'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item3'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item4'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item5'] + '.png" onerror="this.style.display=\'none\';"></div>\
				<div class="cell-item"><img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + data['item6'] + '.png" onerror="this.style.display=\'none\';"></div>\
				</div></li>'
			location.append(test);
		}

		function spell(key) {
			let spell = null;
			switch (key) {
				case 1:
					spell = "SummonerBoost.png"; // 정화
					break;
				case 3:
					spell = "SummonerExhaust.png"; // 탈진
					break;
				case 4:
					spell = "SummonerFlash.png"; // 점멸
					break;
				case 6:
					spell = "SummonerHaste.png"; // 유체화
					break;
				case 7:
					spell = "SummonerHeal.png"; // 회복
					break;
				case 11:
					spell = "SummonerSmite.png"; // 강타
					break;
				case 12:
					spell = "SummonerTeleport.png"; // 순간이동
					break;
				case 13:
					spell = "SummonerMana.png"; // 총명
					break;
				case 14:
					spell = "SummonerDot.png"; // 점화
					break;
				case 21:
					spell = "SummonerBarrier.png"; // 방어막
					break;
				case 30:
					spell = "SummonerPoroRecall.png"; // 포로귀환
					break;
				case 31:
					spell = "SummonerPoroThrow.png"; // 포로던지기
					break;
				case 32:
					spell = "SummonerSnowball.png"; // 눈덩이
					break;
				case 39:
					spell = "SummonerSnowURFSnowball_Mark.png"; // 눈덩이
					break;
				default:
					break;
			}
			return spell;
		}

		function mainRune(main, mainFirst) {
			var slots = null;
			let mainImg = null;
			for (var i = 0; i < runeData.length; i++) {
				if (runeData[i]['id'] == main) {
					slots = runeData[i]['slots'];
				}
			}
			for (var j = 0; j < slots[0]['runes'].length; j++) {
				if (slots[0]['runes'][j]['id'] == mainFirst) {
					mainImg = slots[0]['runes'][j]['icon'];
					return mainImg;
				}
			}
		}

		function subRun(sub) {
			for (var i = 0; i < runeData.length; i++) {
				if (runeData[i]['id'] == sub) {
					return (runeData[i]['icon']);
				}
			}
		}

		var name = $("#myName").val();
		var myGameLocation = $("#nextMatch");

		$("#nextMatch").click(function () {
			var nextMatchNumber = parseInt($("#nextMatch").val());
			for (var i = nextMatchNumber; i < nextMatchNumber+10; i++) {
				$.ajax({
					type: "GET",
					url: "https://asia.api.riotgames.com/lol/match/v5/matches/" + matchIdList[i] + "?api_key=" + api_key,
					data: {},
					async: false,
					success: function (data) {
						for (var j = 0; j < 10; j++) {
							if (data['info']['participants'][j]['summonerName'] == name) {
								myGame(data, j, myGameLocation);
							}
						}
					}
				})
			}
			$("#nextMatch").attr('value', parseInt(nextMatchNumber)+10);
			if($("#nextMatch").val()>=matchIdList.length-11){
				$("#nextMatch").hide();
			}
		});


		function queueType(queueId) {
			var queue = null;
			switch (queueId) {
				case 400:
				case 430:
					queue = "일반게임";
					break;
				case 420:
					queue = "솔로랭크";
					break;
				case 440:
					queue = "자유랭크";
					break;
				case 450:
					queue = "칼바람나락";
					break;
				case 800:
				case 810:
				case 820:
				case 830:
				case 840:
				case 850:
					queue = "봇전";
					break;
				case 900:
					queue = "우르프";
					break;
				case 920:
					queue = "포로왕";
					break;
				case 1020:
					queue = "단일챔피언";
					break;
				case 2000:
				case 2010:
				case 2020:
					queue = "튜토리얼";
					break;
				default:
					queue = "이벤트";
					break;
			}
			return queue;
		}
		function myGame(data, index, location){
			var game = data['info'];
			var matchId = data['metadata']['matchId'];
			var participants = game['participants'][index]
			var gameStartTimestamp = timestamp(game['gameStartTimestamp']);
			var queueId = queueType(game['queueId']);
			var win = "승리";
			if(participants['win'] == true){win="승리";}else{win="패배";};
			var duration = parseInt(game['gameDuration']);
			if(!game['gameEndTimestamp']){
				duration = parseInt(game['gameDuration'])/1000;
			}
			var min = parseInt(duration)/60;
			var sec = parseInt(duration)%60;
			var gameDuration = Math.floor(min) + "분 " + sec + "초";
			var championName = participants['championName'];
			var summoner1Id = spell(participants['summoner1Id']);
			var summoner2Id = spell(participants['summoner2Id']);
			var mainRuneImg = mainRune(participants['perks']['styles'][0]['style'], participants['perks']['styles'][0]['selections'][0]['perk']);
			var subRuneImg = subRun(participants['perks']['styles'][1]['style']);
			var kills = participants['kills'];
			var deaths = participants['deaths'];
			var assists = participants['assists'];
			var aver = kdaaver(kills, deaths, assists);
			var killAll = 0;
			if(index<5){
				for(var i=0; i<5; i++){
					killAll += game['participants'][i]['kills'];
				}
			}else{
				for(var i=5; i<10; i++){
					killAll += game['participants'][i]['kills'];
				}
			}
			var killper = Math.round(kills/parseInt(killAll)*100) + "%";
			var champLevel = participants['champLevel'];
			var totalMinionsKilled = participants['totalMinionsKilled'];
			var neutralMinionsKilled = participants['neutralMinionsKilled'];
			var minions = totalMinionsKilled+neutralMinionsKilled;
			var csAver = (totalMinionsKilled + neutralMinionsKilled)/min;
			var mincs = "("+ Math.round(csAver*100)/100.0 + ")";
			var item;
			var goldEarned = participants['goldEarned'];
			var visionWardsBoughtInGame = participants['visionWardsBoughtInGame'];
			var backgroundColor = "#22c4d560";
			var color = "#1a78ae";
			if(win == "승리"){
				backgroundColor = "#22c4d560";
				color = "#1a78ae"
			}else{
				backgroundColor = "#e5133c40";
				color = "#c6443e"
			}
			let html = '<div id="myGameData" style="background-color : '+backgroundColor+';">\n' +
					'\t\t\t<ul class="gameType"> <!--게임타입-->\n' +
					'\t\t\t\t<li style="font-weight: bold;">'+queueId+'</li>\n' +
					'\t\t\t\t<li style="color:#555; margin-bottom: 5px;">'+gameStartTimestamp+'</li>\n' +
					'\t\t\t\t<li style="color: '+color+';">'+win+'</li>\n' +
					'\t\t\t\t<li style="color:#555;">'+gameDuration+'</li>\n' +
					'\t\t\t</ul>\n' +
					'\t\t\t<ul class="inline-flex imageInfo">\n' +
					'\t\t\t\t<li class="champion">\n' +
					'\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/champion/'+ championName +'.png">\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t\t<li class="spell">\n' +
					'\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + summoner1Id + '">\n' +
					'\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/' + summoner2Id + '">\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t\t<li class="rune">\n' +
					'\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/img/' + mainRuneImg + '" style="background-color: black; border-radius: 20px;">\n' +
					'\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/img/' + subRuneImg + '">\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t</ul>\n' +
					'\t\t\t<ul class="kda">\n' +
					'\t\t\t\t<li>\n' +
					'\t\t\t\t\t<span style="font-weight: 700;">'+kills+'</span>\n' +
					'\t\t\t\t\t<span> / </span>\n' +
					'\t\t\t\t\t<span style="color: #c6443e; font-weight: 700;">'+deaths+'</span>\n' +
					'\t\t\t\t\t<span> / </span>\n' +
					'\t\t\t\t\t<span style="font-weight: 700;">'+assists+'</span><br>\n' +
					'\t\t\t\t\t<span class="aver">평점 '+aver+'</span>\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t</ul>\n' +
					'\t\t\t<ul style="color:#555e5e; font-size: 18px;">\n' +
					'\t\t\t\t<li style="margin-bottom: 7px;">레벨'+champLevel+'</li>\n' +
					'\t\t\t\t<li style="margin-bottom: 7px;">\n' +
					'\t\t\t\t\t<span>'+minions+'</span>\n' +
					'\t\t\t\t\t<span>'+mincs+'</span>\n' +
					'\t\t\t\t\t<span>CS</span>\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t\t<li style="color: #c6443e; font-weight: bold;">킬관여 '+killper+'</li>\n' +
					'\t\t\t</ul>\n' +
					'\t\t\t<ul class="item-image">\n' +
					'\t\t\t\t<li>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item0'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item1'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item2'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item6'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t\t<li style="padding-right: 35px;">\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item3'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item4'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<div>\n' +
					'\t\t\t\t\t\t<img src="https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/' + participants['item5'] + '.png" onerror="this.style.display=\'none\';">\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t</li>\n' +
					'\t\t\t\t<li class="gold-ward">골드 '+goldEarned+'</li>\n' +
					'\t\t\t\t<li class="gold-ward">제어와드 '+visionWardsBoughtInGame+'</li>\n' +
					'\t\t\t</ul>\n' +
					'\t\t\t<input id="matchId" type="hidden" value="'+matchId+'">\n' +
					'\t\t\t<button class="closeinfo"><</button>\n' +
					'\t\t\t<button class="anyinfo">></button>\n' +
					'\t\t\t<div id ="more">\n' +
					'\t\t\t\t<div id="more_red">\n' +
					'\t\t\t\t\t<div class="red-header">\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 300px;">레드팀</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">KDA</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">피해량</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">와드</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">CS</div>\n' +
					'\t\t\t\t\t\t<div class="cell">아이템</div>\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<ul class="red-container"></ul>\n' +
					'\t\t\t\t</div>\n' +
					'\t\t\t\t<div id="more_blue">\n' +
					'\t\t\t\t\t<div class="blue-header">\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 300px;">블루팀</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">KDA</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">피해량</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">와드</div>\n' +
					'\t\t\t\t\t\t<div class="cell" style="width: 100px;">CS</div>\n' +
					'\t\t\t\t\t\t<div class="cell">아이템</div>\n' +
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t\t<ul class="blue-container"></ul>\n' +
					'\t\t\t\t</div>\n' +
					'\t\t\t</div>\n' +
					'\t\t</div>';
			location.before(html);
		}
		function timestamp(timestamp){
			var date_not_formatted = new Date(timestamp);
			var formatted_string = "";
			if (date_not_formatted.getMonth() < 9) {
				formatted_string += "0";
			}
			formatted_string += (date_not_formatted.getMonth() + 1);
			formatted_string += "-";
			if(date_not_formatted.getDate() < 10) {
				formatted_string += "0";
			}
			formatted_string += date_not_formatted.getDate();
			return formatted_string;
		}
		function kdaaver(k, d, a){
			var result=null;
			if(d==0){
				result = "Perfect";
			}else {
				var aver = (k + a) / d;
				result = Math.round(aver*100)/100.0;
			}
			return result;
		}
	});
</script>
<body>
	<th:block th:insert="/common/common::header"></th:block>
	<div id="reSearch" style="width: 200px; margin: 50px auto;">
		<h3 style="cursor: pointer">다른 아이디 검색</h3>
	</div>
	<div id="searchBanner" style="width: 200px; margin: 50px auto; display: none;">
		<form action="/search" method="get">
			<input type="text" name="name" placeholder="소환사명을 입력해주세요" style="width: 160px; border-radius: 1px; height: 25px; padding: 5px;">
			<input type="submit" value="🔍"
				   style="cursor : pointer; background-color: inherit; margin-right: 10px; border: none; position: relative; right: 23px;"></input>
		</form>
	</div>
	<!-- 소환사 정보  -->
	<section class="check-false" th:if="${check} == 'false'">
		<span>해당하는 소환사를 찾을 수 없습니다.</span><br><br>
		<span>다시 검색해주세요.</span>
	</section>
	<section class="summonerInfo" th:if="${check} == 'true'">
		<div style="margin-right: 30px; width:400px;">
			<img th:src="'https://ddragon.leagueoflegends.com/cdn/12.1.1/img/profileicon/' + ${profileIconId}+'.png'" style="height: 120px; border-radius: 15px; margin-right: 10px">
			<div>
				<span th:text="'Lv.'+${summonerLevel}" style="font-size: 20px;"></span><br>
				<span th:text ="${name}" style="font-weight: 900; font-size: 30px"></span>
			</div>
			<input id="myName" type="hidden" th:value="${name}">
		</div>
		<!-- 티어, 점수, 승률 -->
		<div>
			<ul th:if="${code} == 'solo' or ${code} == 2" class="inline-flex">
				<li>
					<img th:src="'/images/tier/'+${tier_solo}+'.png'">
				</li>
				<li class="rankDetail">
					<span class="type">솔로랭크</span><br>
					<span th:text="${tier_solo}" class="tier"></span><span th:text="'  '+${rank_solo}" class="tier"></span><br>
					<span th:text="${leaguePoints_solo} + ' LP'" class="point"></span>
					<span th:text="'/ ' + ${wins_solo} + '승'" class="type"></span>
					<span th:text="${losses_solo} + '패'" class="type"></span><br>
					<span th:text="'승률 ' + ${percent_solo} + '%'" class="type"></span>
				</li>
			</ul>
			<ul th:unless= "${code} == 'solo' or ${code} == 2" class="inline-flex">
				<li>
					<img src="/images/tier/UNRANKED.png">
				</li>
				<li class="rankDetail">
					<span class="type">솔로랭크</span><br>
					<span>Unranked</span>
				</li>
			</ul>
			<ul th:if="${code} == 'free' or ${code} == 2" class="inline-flex">
				<li>
					<img th:src="'/images/tier/'+${tier_free}+'.png'">
				</li>
				<li class="rankDetail">
					<span class="type">자유 5:5 랭크</span><br>
					<span th:text="${tier_free}" class="tier"></span><span th:text="'  '+${rank_free}" class="tier"	></span><br>
					<span th:text="${leaguePoints_free} + ' LP'" class="point"></span>
					<span th:text="'/ ' + ${wins_free} + '승'" class="type" ></span>
					<span th:text="${losses_free} + '패'" class="type"></span><br>
					<span th:text="'승률 ' + ${percent_free} + '%'" class="type"></span>
				</li>
			</ul>
			<ul th:unless= "${code} == 'free' or ${code} == 2" class="inline-flex">
				<li>
					<img src="/images/tier/UNRANKED.png">
				</li>
				<li class="rankDetail">
					<span class="type">자유 5:5 랭크</span><br>
					<span>Unranked</span>
				</li>
			</ul>
		</div>
	</section>
	<!-- 게임결과 -->
	<section class="gameDetail" th:if="${check} == 'true'">
		<div id="myGameData" th:each="result : ${result}"  th:style="${result.win == true ? 'background-color : #22c4d560' : 'background-color : #e5133c40'}">
			<ul class="gameType"> <!--게임타입-->
				<li th:text="${result.queueId}" style="font-weight: bold;"></li>
				<li th:text="${result.getEndTimestamp}" style="color:#555; margin-bottom: 5px;"></li>
				<li th:if="${result.win} == true" style="color: #1a78ae;">승리</li>
				<li th:if="${result.win} == false" style="color: #c6443e;">패배</li>
				<li th:text="${result.gameDuration}" style="color:#555;"></li>
			</ul>
			<ul class="inline-flex imageInfo">
				<li class="champion">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/champion/'+${result.championName}+'.png'">
				</li>
				<li class="spell">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/'+${result.summoner1Id}">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/spell/'+${result.summoner2Id}">
				</li>
				<li class="rune">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+${result.mainRune}" style="background-color: black; border-radius: 20px;">
					<img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+${result.subRune}">
				</li>
			</ul>
			<ul class="kda">
				<li>
					<span th:text="${result.kills}" style="font-weight: 700;"></span>
					<span> / </span>
					<span th:text="${result.deaths}" style="color: #c6443e; font-weight: 700;"></span>
					<span> / </span>
					<span th:text="${result.assists}" style="font-weight: 700;"></span><br>
					<span class="aver" th:text="'평점 '+${result.average}"></span>
				</li>
			</ul>
			<ul style="color:#555e5e; font-size: 18px;">
				<li th:text="'레벨'+${result.champLevel}" style="margin-bottom: 7px;"></li>
				<li style="margin-bottom: 7px;">
					<span th:text="${result.totalMinionsKilled}+${result.neutralMinionsKilled}"></span>
					<span th:text="' '+${result.mincs}+' '"></span>
					<span>CS</span>
				</li>
				<li th:text="'킬관여 '+${result.killPercent}" style="color: #c6443e; font-weight: bold;"></li>
			</ul>
			<ul class="item-image">
				<li>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item0}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item1}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item2}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item6}+'.png'" th:onerror="this.style.display='none';"
					</div>
				</li>
				<li style="padding-right: 35px;">
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item3}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item4}+'.png'" th:onerror="this.style.display='none';">
					</div>
					<div>
						<img th:src="'https://ddragon.leagueoflegends.com/cdn/11.24.1/img/item/'+${result.item5}+'.png'" th:onerror="this.style.display='none';">
					</div>
				</li>
				<li class="gold-ward" th:text="'골드 '+${result.goldEarned}"></li>
				<li class="gold-ward" th:text="'제어와드 '+${result.visionWardsBoughtInGame}"></li>
			</ul>
			<input id="matchId" type="hidden" th:value="${result.matchId}">
			<button class="closeinfo"><</button>
			<button class="anyinfo">></button>
			<div id ="more">
				<div id="more_red">
					<div class="red-header">
						<div class="cell" style="width: 300px;">레드팀</div>
						<div class="cell" style="width: 100px;">KDA</div>
						<div class="cell" style="width: 100px;">피해량</div>
						<div class="cell" style="width: 100px;">와드</div>
						<div class="cell" style="width: 100px;">CS</div>
						<div class="cell">아이템</div>
					</div>
					<ul class="red-container"></ul>
				</div>
				<div id="more_blue">
					<div class="blue-header">
						<div class="cell" style="width: 300px;">블루팀</div>
						<div class="cell" style="width: 100px;">KDA</div>
						<div class="cell" style="width: 100px;">피해량</div>
						<div class="cell" style="width: 100px;">와드</div>
						<div class="cell" style="width: 100px;">CS</div>
						<div class="cell">아이템</div>
					</div>
					<ul class="blue-container"></ul>
				</div>
			</div>
		</div>
		<button id="nextMatch" value = "10">더 보기</button>
		<input id="puuid" type="hidden" th:value="${puuid}">
	</section >
	<th:block th:insert="/common/common::footer"></th:block>
</body>
</html>