<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="/common/common::head">
<meta charset="UTF-8">
<title>yh.gg</title>
</head>
<body style="background-color: black;">
	<th:block th:insert="/common/common::header"></th:block>
	<main style="margin: 300px 0 300px 0">
		<form action="/search" method="get">
			<input type="text" name="name" placeholder="소환사명을 입력해주세요">
			<button type="submit">🔍</button>
		</form>
	</main>
	<th:block th:insert="/common/common::footer"></th:block>
</body>
</html>